# MONGO_URI="mongodb://root:password@localhost:27017/mongo?authSource=admin"
MONGO_URI="mongodb://root:password@my-db:27017/weblium?authSource=admin"
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=password